@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #47b5ff;
  --primary-dark: #1298f1;
  --grey: grey;
  --red: rgb(238, 34, 62);
  --dark-red: rgb(196, 15, 39);
  --small: 700px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e4e4e4;
}
